<%- include("partials/header.ejs") %>


  <h1>"Welcome to Our Dog-Loving Community!" </h1>

  <p>Welcome to our home page, dedicated to everything about dogs! Here, you'll find a fun and friendly place to learn all about our furry friends and why they're so special.
     We want to make sure everyone who loves dogs has a place to connect and share their love for these amazing animals.
  </p>
  <p>
    As you explore our home page, you'll find lots of cool stuff, like helpful tips for taking care of your dog and stories that show just how wonderful the bond between people and dogs can be.
     Whether you're already a dog expert or just thinking about getting a dog, our home page is here to help you learn and have fun.
     So come join us in celebrating the love and joy that dogs bring to our lives!</p>

  <%- include("partials/footer.ejs") %>